/*Admin Logo & CSS 5:35 we are going to be making plenty of changes.  I just copy and pasted the code from Brads repo */
/*Admin Logo & CSS The two changes below are making the top header color different and adding more spacing/ */
#header {
    height: 50px;
    background: #10284e;
    color: #fff;
  }
  
  #branding h1 {
    color: #fff;
  }
  
  a:link,
  a:visited {
    color:#10284e;
  }
  
  div.breadcrumbs {
    background: #30caa0;
    color: #10284e;
  }
  
  div.breadcrumbs a {
    color: #333;
  }
  /*Admin Logo & CSS Here he just uses the chromium dev tools to grab the tabs and change the colors to what we want.  */
  .module h2, .module caption, .inline-group h2 {
    background: #30caa0;
  }
  
  .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #10284e;
    color: #fff;
  }