{% extends 'base.html' %}

{% comment %}Dynamic Page Titles -  4:50 title block with |Register in there. (4:57 go to login.html) {% endcomment %}
{% block title %} | Register{% endblock %}

{% block content %}

{% comment %}Register & Login Templates - 00:25 We want to go to notepad++ to get the already assembled html/css for login and register and paste within the two files. 2:20 the fields in these two files are going to go to accounts/view.py the register method. If we post to this method, we want it to go to register in the views. So in the action, what we need to do is to change action of the form to a url temple tag and have the tag go to register, and by default when we do this , it's going to be a get method, what we want is the method to be a post so we have to specify thatmethod = 'POST'. Do the same to login page (3:39 go to templates/accounts/login.html).  {% endcomment %}

    <section id="register" class="bg-light py-5">
        <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-primary text-white">
                <h4>
                    <i class="fas fa-user-plus"></i> Register</h4>
                </div>
                <div class="card-body">
{% comment %}Message Alerts - 9:41 Here we are going to be inserting the alert under the card body div. Copy and paste this into the log in. (10:07 copy and paste this into templates/accounts/login.html) {% endcomment %}
                {% include 'partials/_alerts.html' %}


{% comment %}Register & Login Templates - 4:23 go to input the csrf_token temple tag into here too. 4:26 he shows how the csrf tokens appear in the html markup on the site. 5:03 now that our forums can submit to our view methods, lets (5:08 go to our accounts/views.py and go to register method) {% endcomment %}
                    <form action="{% url 'register'%}" method = 'POST'>
                    {% csrf_token %}
                    <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                    <label for="password2">Password</label>
                    <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" required>
                    </div>
                    <input type="submit" value="Register" class="btn btn-secondary btn-block">
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}