{% extends 'base.html' %}
{% comment %} 7:48 we want to make sure that do an extends here (7:55 it now works for about.html too, we have a base.html there too) (END OF VIDEO: he talks about some redundant extension that seems to have been solved. and then video ends) {% endcomment %}

{% load static %}
{% comment %}Index, About & Linking - 3:07 Paste the html in the block content replacing the "<h1> about page </h1>" we had before. 3:25 remember, there is a static image on this page, so there is that that picture of the inside of the office. So we do what we do want to include that.  So let's head on over back to that about HTML, and then input the template tags on the top to load static. NOTE, make sure that extends is always on the top or above the "load static". (scroll down to change src for image to temple tag){% endcomment %}
{% block content %}
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About BT Real Estate</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
{% comment %}Index, About & Linking - 4:57 So to link, let's use the breadcrumb right here so you can see it's going to index.html. Well, that's obviously not what we want. So and here we want to put in our temple tags and inside: url 'index'. 5:32 In case you are wondering what the index comes from, its because if we go to the pages/urls.py we named it index. We can use that to link and same thing with about. (5:35 go to _navbar.html) {% endcomment %}
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We Search For The Perfect Home</h2>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
{% comment %}Index, About & Linking - 3:55 Go to "id = about" and head to the "src = "assets/img/about.jpg" and turn that into the template tag with "static 'img/about.jpg'"." (4:34 go to localhost and check image) 4:40 Now what we want to do is linking. We have a link for about, home, breadcrumbs. (4:57 go to breadcrumbs in this page) {% endcomment %}
          <img src="{% static 'img/about.jpg' %} " alt="">
          <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis esse officia repudiandae ad saepe ex, amet
            neque quod accusamus rem quia magnam magni dolorum facilis ullam minima perferendis? Exercitationem at quaerat
            commodi id libero eveniet harum perferendis laborum molestias quia.</p>
        </div>
        <div class="col-md-4">
        {% comment %} 17:02 to take care of the mvp section, we want to do an if statement. If there isn't an MVP then we are just not going to be displaying anything and loop through the objects. Ideally there only being one. {% endcomment %}
        {% if mvp_realtors %}
          {% for winners in mvp_realtors %}
          <div class="card">
          <h5 class="card-title">Seller Of The Month</h5>
            <img class="card-img-top" src="{{winners.photo.url}}" alt="Seller of the month">
            <div class="card-body">
              
              <h6 class="text-secondary">{{winners.name}}</h6>
              <p class="card-text">{{winners.description}}
              </p>
            </div>
          </div>
          {% endfor %}
        {% endif %}
          
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work For You</h2>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem velit aperiam, unde aliquid at similique!</h4>
    <hr>
    <a href="listings.html" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
{% comment %} 13:33 Lets just finish up the realtors section. We want to check for realtors by doing a "if realtors" tag. Inside of that we are going to be creating a for loop that asks if have a realtor in side of the realtors. Then we put in the html div for the team mates  {% endcomment %}
{% if realtors %}
{% for realtor in realtors %}
        <div class="col-md-4">
          <img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3">
{% comment %} 15:12 input realtors name, change the photo, number, email. 16:26 check it out working and then fix seller of the month{% endcomment %}
          <h4>{{realtor.name}}</h4>
          <p class="text-success">
            <i class="fas fa-award text-success mb-3"></i> Realtor</p>
          <hr>
          <p>
            <i class="fas fa-phone"></i> {{realtor.phone}}</p>
          <p>
            <i class="fas fa-envelope-open"></i> {{realtor.email}}</p>
        </div>
{% endfor %}
{% else %}
<div class="col-md-12">
<p>No Realtors Available, Contact Admin</p>
</div>

{% endif %}

      </div>
    </div>
  </section>
{% endblock %}