{% extends 'base.html' %} 
{% comment %}MAKE SURE TO PUT EXTENDS ABOVE COMMENTS. 6:32 Now if we want to use the layout of the base.html we want to use the jinja syntax, this means you want to use the extends keywork in there. (7:00 He goes to the webpage on localhost and shows the html via the devtool (f12)), then he goes to about and shows it's not doing the same because we should extend abouts (7:36 go to about.html) {% endcomment %}

{% comment %}Index, About & Linking - 1:45 We are going to be replacing the "<h1>Home</h1>" that we made earlier in there and copy everything into there. so we have basically just kind of a shell of an application. It's not it's not actually fetching anything or anything like that. It's just basically the HTML placed in a template. Now, as far as the listings here, remember, we're going to be adding the listings from the admin area, which we haven't even talked about yet. So the images will will come from somewhere different. They're not going to come from the static files. OK, so this will look like this for now. So don't worry about that yet. 2:40 Now lets do the same with the home page, so we go back to the theme/dist and go to "about.html"  and get everything below the nav bar to the above the footer. (3:00 got pages/about.html and copy the html from the themes and paste it there){% endcomment %}

{% load humanize %}

{% block content%}
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Property Searching Just Got So Easy
          </h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores eveniet vel nostrum magnam
            voluptatum tempore! Consectetur, id commodi!</p>
          <div class="search">
{% comment %}Search From Choices -  6:00 we want to make sure it works, after that we want to work on the submit form because if we click the submit form, we are going to be presented with an error. So we go to the form tag for the search and input "search" for the url temple tag. (6:35 go to listings/urls.py) {% endcomment %}
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="text" name="city" class="form-control" placeholder="City">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="state" class="form-control">
                    <option selected="true" disabled="disabled">State (All)</option>
 {% comment %}Search From Choices -  3:10 We want to replace these with a django tag that is going to be looping through each one of these contents, make sure to do state_choices.items to loop through the items. Instead of having like fifty choices, we will be deleting these. When we do the value we want the key and the value.{% endcomment %}
                    {% for key, state in state_choices.items %}
                      <option value="{{ key }}">{{ state }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Bedrooms</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Bedrooms (All)</option>
{% comment %}Search From Choices -  5:10 Copy the for loop above and paste it into here, changing values. {% endcomment %}
                    {% for key, room in bedroom_choices.items %}
                      <option value="{{ key }}">{{ room }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Price (Any)</option>
{% comment %}Search From Choices -  5:36 We want to do the same exact thing here  {% endcomment %}
                    {% for key, value in price_choices.items %}
                    <option value="{{key}}">{{value}}</option>
                    {% endfor %}
                    
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Listings</h3>
      <div class="row">
{% comment %}Home & About Page Dynamic Content - 3:15 Now we want to loop through one listing like we did with the other listings.html page. First we want to check to see if there any listings,   {% endcomment %}   
      {% if listings %}
{% comment %}Home & About Page Dynamic Content - 4:12 If there are listings, we want to loop through them, so we create a for loop tag that loops a listing in listings. Inside the tag we want to make sure that we have a listing in there and we delete the other listings {% endcomment %}
      {% for listing in listings %}
              <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
{% comment %}Home & About Page Dynamic Content - 5:29 lets began to change this over to dynamic content. We will start with the main image. It's going to be listing.photo_main.url {% endcomment %}          
            <img class="card-img-top" src="{{listing.photo_main.url}}" alt="">
            <div class="card-img-overlay">
              <h2>
{% comment %}Home & About Page Dynamic Content - 6:05 We want to use humanize here also, which is going to take care of the comma for us. So we are going to import that by saying "load humanize" with the jinja syntax at the top. After doing that we can put in the dynamic variable and don't forget to pipe in the humamize "intcomma" {% endcomment %}
                <span class="badge badge-secondary text-white">${{ listing.price | intcomma }}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
{% comment %}Home & About Page Dynamic Content - 6:48 lets do the title {% endcomment %}
                <h4 class="text-primary">{{ listing.title }}</h4>
                <p>
{% comment %}Home & About Page Dynamic Content -7:10 We then want to do the address {% endcomment %}
                  <i class="fas fa-map-marker text-secondary"></i> {{listing.city}} {{listing.state}}, {{listing.zipcode}}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
{% comment %}Home & About Page Dynamic Content - 7:34 sqft, garage, bedroom, bathrooms, realtor thats connected to listing, list date and humanized. {% endcomment %}
                  <i class="fas fa-th-large"></i> Sqft: {{ listing.sqft }}</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: {{ listing.garage }}</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: {{ listing.bedroom }}</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: {{ listing.bathroom }}</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-user"></i> {{ listing.realtor }}</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> {{ listing.list_date | timesince }}</div>
              </div>
              <hr>
{% comment %}Home & About Page Dynamic Content - 8:51 Remember for this href, we want to use the url temple tag, pass in listing AND the id that we want in there. (9:52 go to pages/views.py) {% endcomment %}
              <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>
      {% endfor %}
{% comment %}Home & About Page Dynamic Content -3:30 so we will put an if and else tag. In the else tag or if there are no listings we put a col-md-12 tag.  {% endcomment %}
      {% else %}
          <div class="col-md-12">
            <p>No Listings Available</p>
          </div>
      {% endif %}   
      </div>
    </div>
  </section>
 

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Consulting Services</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Propery Management</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Renting & Selling</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
            hic dignissimos ratione ea quae.</p>
        </div>
      </div>
    </div>
  </section>*
{% endblock %}