{% extends 'base.html' %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Browse Our Properties</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
{% comment %} Listings URLS & Templates - 12:48 change this to a dynamic temple tag. 13:18 Now, when we when we create the database, we create our listings model. We create all of our tables and stuff. What we'll do is reach into the database, pass the listings into the template from the views.py. And then we'll loop through the listings and output one of these divs. We're not going to need all of this markup.We're only going to need to loop through the listings and output one of these and have dynamic price, address, etc. (14:11 go to _navbar to change the featered listings href){% endcomment %}
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Listings</li>
        </ol>
      </nav>
    </div>
  </section>
{% comment %}Pull Data From Listings Model - 6:13 he shows how we want to go to "section id = "listings" and how we want to loop only one "listing" not all six of these. 6:51 go right above where it says listing 1 and input the temple tags with the conditionals using jinja, call the if tag "lisitings". This way we check to see if there are listings, also put an else statement. The else statement is going to have a div with a class of col-md-12. When the if statement does the check for listings and if it gets back listings, we want to do a for loop inside there looping through the listings 7:57. Now, 8:16 we want to grab our listing html and put it inside the for loop. After that we can get rid of the other listings. 9:10 Now that we have done that, we have six listings of the same markup since we haven't don't anything yet. END OF VIDEO{% endcomment %}
  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
{% if listings %}
  {% for listing in listings %}
    <!-- Listing 1 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="assets/img/homes/home-1.jpg" alt="">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">$490,000</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">45 Drivewood Circle</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> Norwood MA, 02062</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-th-large"></i> Sqft: 3200</div>
                <div class="col-6">
                  <i class="fas fa-car"></i> Garage: 2</div>
              </div>
              <div class="row py-2 text-secondary">
                <div class="col-6">
                  <i class="fas fa-bed"></i> Bedrooms: 3</div>
                <div class="col-6">
                  <i class="fas fa-bath"></i> Bathrooms: 2</div>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                  <i class="fas fa-user"></i> Kyle Brown</div>
              </div>
              <div class="row text-secondary pb-2">
                <div class="col-6">
                  <i class="fas fa-clock"></i> 2 days ago</div>
              </div>
              <hr>
              <a href="listing.html" class="btn btn-primary btn-block">More Info</a>
            </div>
          </div>
        </div>
  {% endfor %}
{% else %}
<div class="col-md-12">
No Listings Available. Contact Admin.
</div>
        
{% endif %}

      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#">&laquo;</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">&raquo;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
